<div style="background-size: cover; background-repeat: no-repeat;"
  [style.background-image]="'url(' + author_data.author.blog_page_img + ')'" class="backgroundImg">

  <div class="col-12 col-md-6 mx-auto list">
    <div class="card post">
      <img class="card-img-top img-class mx-auto border border-white post_img" src="{{post.Post.image}}"
        alt="Image Failure">
      <div class="card-body mx-auto">
        <h2>{{post.Post.title}}</h2>
        <p>{{post.Post.content}}</p>
      </div>
    </div>
  </div>
</div>
