<!-- <div *ngFor="let post of author_data.Posts">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
</div> -->
<div style="background-size: cover; background-repeat: no-repeat;"
  [style.background-image]="'url(' + author_data.author.blog_page_img + ')'" class="backgroundImg">

  <a [routerLink]="['/new-post']" *ngIf="token" class="brk-btn">
    New Post
  </a>

  <div class="col-12 col-md-6 mx-auto list">
    <div class="card post" *ngFor="let post of author_data.Posts">
      <img class="card-img-top img-class mx-auto border border-white post_img" src="{{post.image}}" alt="Image Failure">
      <div class="card-body mx-auto">
        <h2>{{post.title}}</h2>
        <p class="postText">{{post.content | slice:0:400}}. . .</p>
        <button [routerLink]="['/author', author_data.author.id, post.slug]" class="brk-btn">View Post</button>
        <div class="authorButtons" *ngIf="token">
          <button [routerLink]="['/delete-post', post.slug]" (click)="deletePost(post.slug)"
            class="btn btn-danger">Delete Post</button>
          <button [routerLink]="['/edit-post', post.slug]" (click)="editPost(post.slug)" class="btn btn-info">Edit
            Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
