<div class="container">
  <form [formGroup]="postForm" (ngSubmit)="createPost()">
    <div class="form-group">
      <label for="title">Author</label>
      <input type="text" class="form-control" formControlName="author" id="author">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <!-- <input type="text" class="form-control" id="content" value="{{post.Post.content}}"> -->
      <textarea class="form-control" formControlName="content" id="content" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" formControlName="slug" id="slug">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" class="form-control" formControlName="image" id="image">
    </div>
    <button class="btn btn-success" type="submit">Create
      Post</button>

  </form>
</div>
