<nav class="navbar navbar-light navbar-expand-lg text-light navigation site-header">

  <a class="py-2 " [routerLink]="['/home']">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
      <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
      <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
      <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
      <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
      <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
    </svg>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/home']">All Authors</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/']">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/author-admin']">Author Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
      <button class="brk-btn" type="submit">Search</button>
    </form>
  </div>




</nav>

<router-outlet></router-outlet>
