<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light navigation">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/home']">All Authors</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/']">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/author-admin']">Author Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
      <button class="brk-btn" type="submit">Search</button>
    </form>
  </div>




</nav>

<router-outlet></router-outlet>
