<div class="container">
  <form [formGroup]="postForm" (ngSubmit)="editForm()">
    <div class="form-group">
      <label for="title">Author</label>
      <input type="text" class="form-control" id="author" value="{{post.Post.author_name}}">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" value="{{post.Post.title}}">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <!-- <input type="text" class="form-control" id="content" value="{{post.Post.content}}"> -->
      <textarea class="form-control" formControlName="content" id="content" rows="3"
        value="{{post.Post.content}}"></textarea>
    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" formControlName="slug" id="slug" value="{{post.Post.slug}}">
    </div>
    <button type="submit" class="btn btn-info">Edit
      Post</button>
  </form>
</div>
